<%= form_with model: profile, data: { turbo: false } do |f| %>
  <% profile.errors[:username].each do |error| %>
    <div>Username <%= error %></div>
  <% end %>
  <%= f.label :username %>
  <br>
  <%= f.text_field :username %>
  <br><br>
  <%= f.submit %>
<% end %>