<%= form_with model: recipe,
              :class => "general-form" do |f| %>
  <% recipe.errors[:title].each do |error| %>
    <div>Title <%= error %></div>
  <% end %>
  <div class="input-area-container">
    <%= f.label :title, :class => "label-general" %>
    <%= f.text_field :title, :class => "input-area-general" %>
  </div>
  <div class="input-area-container">
    <% recipe.errors[:about].each do |error| %>
      <div>About <%= error %></div>
    <% end %>
    <%= f.label :about, :class => "label-general" %>
    <%= f.text_area :about, :class => "input-area-general" %>
  </div>
  <%= f.submit 'Lead the Others!', :class => "green-button mt-4" %>
<% end %>