<div class="flex flex-col gap-8">
  <div class="flex flex-col gap-4">
    <div class="flex justify-center">
      <%= link_to "Back to Recipe", recipe_path(@recipe), :class => "blue-button" %>
    </div>
    <h1 class="flex flex-col text-xl text-center xl:text-2xl my-4">
      Everything changes,&nbsp<span class="hidden xl:block underline font-bold">even your Recipe!</span>
      <p class="text-3xl underline font-bold xl:hidden">even your Recipe!</p>
    </h1>

    <div class="flex flex-col xl:grid xl:grid-cols-3 gap-8">
      <div class="flex flex-col">
        <h3 class="text-center text-xl font-bold text-blue-800">Basic Information</h3>
        <div class="flex justify-center -mt-4">
          <%= render 'form', recipe: @recipe %>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <h3 class="text-center text-xl font-bold text-amber-800">Ingredients</h3>
        <div class="flex justify-center">
          <%= link_to "See/Edit Ingredients", recipe_ingredients_path(@recipe), :class => "orange-button" %>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <h3 class="text-center text-xl font-bold text-purple-800">Steps</h3>
        <div class="flex justify-center">
          <%= link_to "See/Edit Steps", recipe_steps_path(@recipe), :class => "pink-button" %>
        </div>
      </div>


    </div>
  </div>
  <turbo-frame id="recipe-preview">
    <%= render "recipes/basic_preview" %>
  </turbo-frame>
  <div class="flex flex-col items-center gap-4">
    <h3 class="text-2xl underline text-red-700">Delete Zone</h3>
    <%= link_to recipe_path(@recipe),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: 'Are you sure you want to delete this recipe?'
                }, :class => "red-button" do %>
      Delete Recipe
    <% end %>
  </div>
</div>
