<div class="flex flex-col items-center gap-2 max-w-screen overflow-scroll">
  <div class="text-center flex flex-col gap-4 mb-4 md:max-w-[70vw]">
    <div class="flex flex-col md:flex-row justify-center items-center gap-4 gap-x-8">
      <h1 class="text-3xl font-bold"><%= @recipe.title %></h1>
      <% if user_signed_in? && current_user.profile && current_user.profile == @recipe.profile %>
        <%= link_to edit_recipe_url(@recipe),
                    :class => "flex justify-center bg-blue-200 hover:bg-blue-800 button-styling" do %>
          Edit Recipe
        <% end %>
      <% end %>
    </div>
    <p class="text-lg underline"><%= @recipe.about %></p>
  </div>
</div>


<% @recipe.ingredients.each do |ing| %>
  <%= render 'ingredients/ing', ingredient: ing %>
<% end %>
<% @recipe.steps.each do |step| %>
  <%= render 'steps/step', step: step %>
<% end %>