<h1><%= @recipe.title %></h1>
<p><%= @recipe.about %></p>


<% if user_signed_in? && current_user.profile && current_user.profile == @recipe.profile %>
  <%= link_to 'Edit Recipe', edit_recipe_url(@recipe) %>
  <% @recipe.ingredients.each do |ing| %>
    <%= render 'ingredients/ing_update', ingredient: ing %>
  <% end %>
  <% @recipe.steps.each do |step| %>
    <%= render 'steps/step_update', step: step %>
  <% end %>
  <%= render 'ingredients/form', recipe: @recipe %>
  <%= render 'steps/form', recipe: @recipe %>
<% else %>
  <% @recipe.ingredients.each do |ing| %>
    <%= render 'ingredients/ing', ingredient: ing %>
  <% end %>
  <% @recipe.steps.each do |step| %>
    <%= render 'steps/step', step: step %>
  <% end %>
<% end  %>

<%= link_to 'Get Back', recipes_url %>