<h1><%= @recipe.title %></h1>
<p><%= @recipe.about %></p>

<%= link_to 'Edit Recipe', edit_recipe_url(@recipe) %>

<% if user_signed_in? && current_user.profile && current_user.profile == @recipe.profile %>
  <% @recipe.ingredients.each do |ing| %>
    <%= render 'ingredients/ing_update', ingredient: ing %>
  <% end %>
<% else %>
  <% @recipe.ingredients.each do |ing| %>
    <%= render 'ingredients/ing', ingredient: ing %>
  <% end %>
<% end  %>

<% @recipe.steps.each do |step| %>
  <%= render 'steps/step', recipe: @recipe, step: step %>
<% end %>


<% if user_signed_in? && current_user.profile && current_user.profile == @recipe.profile %>
  <%= render 'ingredients/form', recipe: @recipe %>
<% end %>

<% if user_signed_in? && current_user.profile && current_user.profile == @recipe.profile %>
  <%= render 'steps/form', recipe: @recipe, step: Step.new  %>
<% end %>

<%= link_to 'Get Back', recipes_url %>