<%= form_with model: [recipe, recipe.steps.build],
              data: { controller: "recipe-extra-form", action: "turbo:submit-end->recipe-extra-form#resetStepForm" } do |f| %>
  <div class="flex flex-col gap-4">
    <%= f.label :title, :class => "flex items-center gap-2 text-lg w-full" do %>
      <span>Title</span>
      <%= f.text_field :title, :class => "ml-auto input-area-general invalid-input",
                       data: { "recipe-extra-form-target": "title",
                               action: "input->recipe-extra-form#checkStepTitle",
                               valid: "0" },
                       placeholder: "min 6, max 18" %>
    <% end %>
    <%= f.label :description, :class => "flex items-center gap-2 text-lg w-full" do %>
      <span>Description</span>
      <%= f.text_area :description, :class => "ml-auto input-area-general invalid-input",
                      data: { "recipe-extra-form-target": "description",
                              action: "input->recipe-extra-form#checkStepDescription",
                              valid: "0" },
                      placeholder: "min 15, max 120" %>
    <% end %>
    <%= f.label :duration, :class => "flex items-center gap-2 text-lg w-full" do %>
      <span>Duration</span>
      <%= f.number_field :duration, :class => "ml-auto input-area-general invalid-input",
                         data: { "recipe-extra-form-target": "duration",
                                 action: "input->recipe-extra-form#checkStepDuration",
                                 valid: "0" },
                         placeholder: "min 1, max 180" %>
    <% end %>
    <%= f.label :order, :class => "flex items-center gap-2 text-lg w-full" do %>
      <span>Order</span>
      <%= f.number_field :order, :class => "ml-auto input-area-general invalid-input",
                         data: { "recipe-extra-form-target": "order",
                                 action: "input->recipe-extra-form#checkStepOrder",
                                 valid: "0" },
                         placeholder: "min 0" %>
    <% end %>
    <div class="flex justify-evenly">
      <%= f.submit :class => "purple-button disabled-purple-button",
                   disabled: true,
                   data: { "recipe-extra-form-target": "stepSubmit" } %>
    </div>
  </div>
<% end %>