<%= form_with model: [step.recipe, step] do |f| %>
  <div class="flex flex-col gap-4">
    <%= f.label :title, :class => "flex items-center gap-2 text-lg w-full" do %>
      <span>Title</span>
      <%= f.text_field :title, :class => "ml-auto input-area-general" %>
    <% end %>
    <%= f.label :description, :class => "flex items-center gap-2 text-lg w-full" do %>
      <span>Description</span>
      <%= f.text_area :description, :class => "ml-auto input-area-general" %>
    <% end %>
    <%= f.label :time_consumption, :class => "flex items-center gap-2 text-lg w-full" do %>
      <span>Time Consumption</span>
      <%= f.number_field :time_consumption, :class => "ml-auto input-area-general" %>
    <% end %>
    <%= f.label :order, :class => "flex items-center gap-2 text-lg w-full" do %>
      <span>Order</span>
      <%= f.number_field :order, :class => "ml-auto input-area-general" %>
    <% end %>
    <div class="flex justify-evenly">
      <%= f.submit :class => "purple-button" %>
      <%= link_to 'Delete Step', recipe_step_path(step.recipe, step),
                  data: { turbo_method: :delete,
                          turbo_confirm: 'Are You sure'},
                  :class => "red-button" %>
    </div>
  </div>
<% end %>