<!DOCTYPE html>
<html>
<head>
  <title>Freecipe</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="flex flex-col p-4 gap-2">

<turbo_frame id="flash" class="flash-main">
  <%= render 'layouts/flash' %>
</turbo_frame>
<%= render 'layouts/navbar' %>

<%= yield %>
</body>
</html>
