<!DOCTYPE html>
<html>
<head>
  <title>Freecipe</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="flex flex-col p-4 gap-2">
<navbar class="flex flex-col gap-4">
  <div class="profile-stuff-container mt-2">
    <% if user_signed_in? && !current_user.profile %>
      <div class="profile-stuff-button mt-2"><%= link_to 'Sign Out', destroy_user_session_url, data: { turbo_method: :delete } %></div>
    <% else %>
      <div class="profile-stuff-button"><%= link_to 'Recipes', recipes_url %></div>
      <% if !user_signed_in? %>
        <div class="profile-stuff-button"><%= link_to 'Sign In', new_user_session_url %></div>
      <% else %>
        <div class="account-vector group">
          <%= inline_svg_tag "account.svg", :class => "account-vector-svg group-hover:fill-white" %>
          <span class="account-vector-name group-hover:text-white"><%= current_user.profile.username %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</navbar>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
