<!DOCTYPE html>
<html>
  <head>
    <title>FreeKitchen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if !user_signed_in? %>
      <%= link_to 'Sign In', new_user_session_url %>
      <%= link_to 'Recipes', recipes_url %>
    <% elsif user_signed_in? && !current_user.profile %>
      <%= link_to 'Sign Out', destroy_user_session_url, data: { turbo_method: :delete } %>
    <% else %>
      <p>Hey there, <%= link_to current_user.profile.username, profile_url(current_user.profile) %></p>
      <%= link_to 'Sign Out', destroy_user_session_url, data: { turbo_method: :delete } %>
      <%= link_to 'Recipes', recipes_url %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
