<!DOCTYPE html>
<html>
<head>
  <title>Freecipe</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="flex flex-col p-4 gap-2">
<navbar class="flex flex-col gap-4">
  <div class="profile-stuff-container mt-2">
    <% if user_signed_in? && !current_user.profile %>
      <%= link_to destroy_user_session_url, data: { turbo_method: :delete } do %>
        <div class="profile-stuff-button">Sign Out</div>
      <% end %>
    <% else %>
      <%= link_to recipes_url do %>
        <div class="navbar-vector group">
          <%= inline_svg_tag 'book.svg', :class => "navbar-vector-svg group-hover:fill-white" %>
          <span class="navbar-vector-name group-hover:text-white">Recipes</span>
        </div>
      <% end %>
      <% if !user_signed_in? %>
        <%= link_to new_user_session_url do %>
          <div class="profile-stuff-button">
            Sign In
          </div>
        <% end %>
      <% else %>
        <div class="navbar-vector group">
          <%= inline_svg_tag "account.svg", :class => "navbar-vector-svg group-hover:fill-white" %>
          <span class="navbar-vector-name group-hover:text-white"><%= current_user.profile.username %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</navbar>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
